

body {
    background-color: grey;
}

.questions{
    display: inline-block;
    width : 135px;
    text-align: center;
    border : 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
}

.questions:hover{
    border : 2px solid lightgreen;
    font-weight: bold;
}